.read {
  float: right;
}

@media screen and (max-width: 768px) {
  .collaborate {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .collaborate p {
    font-size: 25px;
    line-height: 50px;
  }
  .collaborate .read {
    padding: 10px 10px;
    height: 100%;
    width: 100%;
    font-size: 17px;
  }
}

@media screen and (max-width: 425px) {
  .collaborate {
    padding-left: 30px;
    padding-right: 30px;
  }
  .collaborate p {
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    padding-right: 20px;
  }

  .collaborate a {
    padding-top: 0;
    padding-right: 0;
  }
}
