.border-bottom {
  border-bottom: 2px solid;
}

@media screen and (max-width: 768px) {
  .hiring a p {
    font-size: 18px;
  }
  .hiring a p span {
    font-size: 15px;
  }
}

@media screen and (max-width: 425px) {
  .hiring {
    margin-left: 25px;
    margin-right: 25px;
  }
}
